h1 {
    color: red;
}

img{
    width: 400px;
}

#thirdDiv{
    background-color: green;
    height: 804px;
    width: 600px;
    padding: 50px;
    border: 10px solid black;
}

#spanId{
    font-size: 25px;
    margin: 50px;

}



